<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <title>Best albums</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <!-- <script src="./js/materialize.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div>
        <div class="container">
            <!-- Albums of the year -->
            <header id="albums">
                <h1 class="hero">Najlepsze albumy roku <strong><%= year %></strong></h1>
                <section class="albums row">
                   <% albumData.forEach(function(item){ %>
                    <div class="col m3 s6 album">
                            <div class="card">
                                <div class="card-image">
                                    <img src=" <%= item["image"] %>" alt="<%= item["band"] - item["title"] %>" />
                                    <div class="card-title">
                                        <h4><%= item["title"] %></h4>
                                        <div class="d-flex-2col score">
                                            <strong><span>9,4</span>/10</strong>
                                            <a class='but' href="http://localhost:3000/<%= year %>/<%= item["id"] %>">Więcej</a>
                                        </div>
                                    </div>
                                    <a class="description" href="http://localhost:3000/<%= year %>/<%= item["id"] %>">
                                            <h4><%= item["title"] %></h4>  
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi eum ad error aliquid maxime a odit veritatis illo, repellendus aliquam!
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </section>
            </header>
            <!-- Details of album -->
            <div class="row wrapper">
                <article class="col s12 m9 l8 play">
                    <div class="main">
                        <h2 class="title">Album miesiąca</h2>
                        <div class="row d-flex" id="details">
                            <div class="col s12 m5 r-m-l">
                                <p><%= albumData[0]["description"] %></p>
                            </div>
                            <div class="col s12 m7 offset-l1 offset-s0 ">
                                <img  src="<%= albumData[0]["image"] %> " alt="<%= albumData[0]["title"] %> - <%= albumData[0]["band"] %>">
                            </div>
                            <div class="col s12 m3 l4" id="ciekawostki">
                                    <strong>Ciekawostki:</strong>
                                <% Object.keys(albumData[0]["about"]).forEach(function(item){ %>
                                    <div><span><%= item %>: </span><b><%= albumData[0]["about"][item] %></b></div>
                               <% }); %>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Best albums -->
                <aside class="col s12 m3 l4"  id="slide-out">
                    <div class="card-content ">
                       <h2 class="title sub-title">Najlepsze utwory <span>wg czytelników</span></h2>
                       <ul class="collection" id="albumList">
                            <% for(var i=0; i< bandList.length; i++){  %>
                                <li class="collection-item hidden">
                                   <a href="http://localhost:3000/<%= bandList[i].year %>/<%= bandList[i].id %>"><%= i+1 %>.  <%- bandList[i].band %></a>
                                </li>
                            <% } %>
                       </ul>
                       <button id="show" class="but">Zpobacz pełną listę</button>
                       <button id="showMobile" class="btn-floating red hidden"><i class="material-icons">add</i></button>
                    </div>
                </aside>
            </div>
        </div>
        <script src="js/main.js"></script>
    </div>
</body>

</html>