<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <section id="albums">
        <div class="container">
            <!-- Albums of the year -->
            <header id="albumns">
                <h4>Najlepsze albumy roku <%= year %></h4>
                <div class="albums row">
                   <% albumData.forEach(function(item){ %>
                    <div class="col s3">
                            <div class="card">
                                <div class="card-image z-depth-3">
                                    <img src=" <%= item["image"] %> " />
                                    <div class="card-title">
                                        <%= item["title"] %>
                                        <br>
                                        <strong>7/10</strong>
                                        <a href="http://localhost:3000/<%= year %>/<%= item["id"] %>">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </header>
            <!-- Details of album -->
            <div class="row">
                <div class="col s9">
                    <div class="card-content z-depth-1">
                        <h5 class="title">Album miesiąca</h5>
                        <div class="row d-flex" id="details">
                            <div class="col s4">
                                <%= albumData[0]["description"] %>
                            </div>
                            <div class="col s5">
                                <img src="<%= albumData[0]["image"] %> " alt="To są bitelsi">
                            </div>
                            <div class="col s3" id="ciekawostki">
                                    
                                <% Object.keys(albumData[0]["about"]).forEach(function(item){ %>
                                    <div><strong><%= item %> :</strong><%= albumData[0]["about"][item] %></div>
                               <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Best albume -->
                <div class="col s3">
                    <div class="card-content z-depth-1">
                       <h5 class="title">Najlepsze utwory</h5>
                       <ul class="collection">
                            <% for(var i=0; i< bandList.length; i++){  %>
                                <li class="collection-item hidden">
                                    <a href="http://localhost:3000/<%= bandList[i].year %>/<%= bandList[i].id %>"> <%- bandList[i].band %></a>
                                </li>
                            <% } %>
                       </ul>
                       <button id="show" class="waves-effect waves-light btn">Show more</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/main.js"></script>
    </section>
</body>

</html>